<!DOCTYPE html>
<html>
<head>
    <title>Submit Data</title>
</head>
<body>
    <a href="{% url 'Homepage' %}">
    <button type="button"> BACK </button>
    </a>
    <br><br><br>
     <form action="{% url 'free_trial' %}", method="POST">
        {% csrf_token %}
        <label for="date">Date available:</label><br>
        <input type="date" id="date" name="date" required min="{{today}}" ><br><br>
        <label for="time">Time:</label><br>
        <input type="time" id="time" name="time" required >
        <label >Note:We are open from 11am-9pm, you can come for your free trial anyday between this time frame </label>
        <br><br>
        <input type="submit" value="Submit">
    </form>
   
    {% if message %}
    <p >{{ message }}</p>
{% endif %}
</body>
</html>