{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Junction Academy</title>
    <link rel="stylesheet" href="{% static 'Style_sheets/used.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="{% url 'Homepage' %}">
        <button type="button"> BACK </button>
        </a>
    <h1>Hey {{name}} , it seems like your account ({{email}}) has already been used for a Freetrial on {{time}} {{date}} </h1>
    <h3>Please join us and become a member to enjoy more benefits!</h3>
   
</body>
</html>
