body{
    background-color: lightgray;
}
.form_body{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
   background-color: white;
   width: 700px;
   height: 300px;
   padding: 40px;
}
pre{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}
