body{
    background-color: lightgrey;
}
#whole{
    display: flex;
    margin: 0;
}
#container_3{
    margin-top: 20px;
    margin-left: 20px;
}
#container_buttons{
    display: flex;
}
#button_1{
    margin-right: 50px;
    border-radius: 50px;
   height: 40px;
   width: 120px;
   font-size: large;
   font-weight: bold;
}
#button_1:hover{
    background-color: darkgrey;
}
#button_2{
    margin-right: 50px;
    border-radius: 50px;
   height: 40px;
   width: 160px;
  
   font-size: large;
   font-weight: bold;
}
#button_2:hover{
    background-color: darkgrey;
}
#button_3{
    margin-right: 50px;
    border-radius: 50px;
   height: 40px;
   width: 120px;
   font-size: large;
   font-weight: bold;
   background-color: white;
   
}
#button_3:hover{
    background-color: darkgrey;
}

#bottom{
    display: flex;
}
#text{
    font-size: 30px;
    font-weight: bold;
    margin-left: 80px;
    


}
#logo{
    margin-left: 200px;
    margin-bottom: 50px;
    height: 350px;
}


