body{
    background-color: lightgray;
    
}
.form_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}
#email,#password, #submit{
    width: 90%;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
}

#submit:hover{
    background-color: grey;
}
.text{
    text-align: center;
}
