body{
    background-color: lightgrey;
}
.signup-form {
    width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="tel"],
.signup-form input[type="password"],
.signup-form input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 10px;
}
.form_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#let{
    text-align: center;
    
}
#submit{
    background-color: white;
}
#submit:hover{
    background-color: grey;
}